@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  header,
  footer {
    @apply font-montserrat;
  }
}
@layer utilities {
  .skeleton {
    @apply bg-muted-foreground dark:bg-muted;
  }
  .scroll::-webkit-scrollbar {
    @apply h-2 w-1;
  }
  .scroll::-webkit-scrollbar-track {
    @apply dark-primary-bg rounded-full;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply primary-bg rounded-full;
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    @apply secondary-bg rounded-full;
  }
  .base-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .fl-ic {
    @apply flex items-center;
  }
  .fl-col-ic {
    @apply flex flex-col items-center;
  }
  .links-hover {
    @apply base-transition opacity-100  hover:text-hoveredTextColor hover:opacity-90;
  }
  .input-hover {
    @apply base-transition hover-primary-bg;
  }
  .primary-bg {
    @apply bg-primaryLightBg  dark:bg-secondaryDarkBg;
  }
  .dark-primary-bg {
    @apply bg-primaryDarkBg hover:bg-secondaryDarkBg dark:bg-primaryLightBg dark:hover:bg-secondaryLightBg;
  }
  .hover-primary-bg {
    @apply hover:bg-primaryLightBg dark:hover:bg-secondaryDarkBg;
  }
  .secondary-bg {
    @apply bg-secondaryLightBg  dark:bg-primaryDarkBg;
  }
  .hover-secondary-bg {
    @apply hover:bg-secondaryLightBg dark:hover:bg-primaryDarkBg;
  }
  .hover-link-primary {
    @apply hover-primary-bg links-hover hover:rounded-3xl;
  }
  .base-container {
    @apply container space-y-8;
  }
  .base-description {
    @apply text-sm text-hoveredTextColor;
  }
}

/* ! reset */
@layer utilities {
  .reset-p {
    @apply p-0 px-0 py-0 pb-0 pt-0 !important;
  }
}

/* ! user header */

@layer components {
  /* ! top */
  .container-header-links {
    @apply fl-ic gap-8;

    & > div {
      @apply fl-ic gap-4;

      & > a {
        @apply links-hover font-semibold;
      }
      & > button {
        @apply hover-secondary-bg primary-bg border-none;
      }
    }
  }
  .container-help-links {
    @apply flex flex-col gap-4 font-poppins;
    & > a {
      @apply links-hover font-semibold text-hoveredTextColor hover:text-primaryDarkTextColor dark:hover:text-primaryLightBg;
    }
  }
  /* ! bottom */
  .container-nav-links {
    @apply md:fl-ic hidden;
  }
  .test {
    @apply bg-red-500;
  }
  .underline {
    @apply absolute -bottom-1 left-0 right-0 h-1 bg-primarySlate dark:bg-white;
  }

  /* ! bottom hovered */
  .container-hovered-nav-links {
    @apply absolute  left-0 right-0 z-10  bg-secondaryLightBg dark:bg-primaryDarkBg;
  }
  /* ! user mobile nav */
  .container-mobile-nav {
    @apply fixed right-0 top-0 z-10 min-h-screen w-80 bg-secondaryLightBg dark:bg-primaryDarkBg;

    & > div {
      @apply space-y-8 p-4;
    }
  }
}

/* ! user banner */
@layer components {
  .wrapper-banner {
    @apply container relative z-0  overflow-x-hidden;

    & > div {
      @apply fl-ic cursor-grab active:cursor-grabbing;
      & > div {
        @apply aspect-video w-full shrink-0 bg-cover bg-center;
      }
    }
  }
}
/* ! always iconic products */

@layer components {
  .container-always-iconic-products {
    @apply base-container overflow-x-hidden;
    & > div {
      @apply fl-ic relative cursor-grab gap-8 active:cursor-grabbing;
      & > div {
        @apply fl-ic relative gap-8;
        & > a {
          @apply hover-link-primary relative min-h-[348px] space-y-6 focus-within:outline-none;
          & > div {
            & > span {
              @apply absolute right-4 top-2  rounded-xl bg-secondary px-4 py-2 text-sm opacity-70;
            }
            & > p {
              @apply absolute bottom-2 left-2 font-medium;
            }
          }
          & > img {
            @apply min-h-[300px] min-w-[300px];
          }
        }
      }
    }
  }
}

/* ! featured product */
@layer components {
  .container-featured-product {
    @apply fl-col-ic base-transition hover-primary-bg
    gap-4 pb-4;
    & > img {
      @apply w-full object-cover;
    }
    & > div {
      @apply space-y-4 text-center;
      & > h2 {
        @apply text-6xl font-extrabold;
      }
      & > p,
      button {
        @apply text-lg font-semibold;
      }
    }
  }
}

/* ! scroll products */

@layer components {
  .container-iconic-products {
    @apply space-y-6  ps-8;

    & > div {
      @apply scroll flex gap-4 overflow-x-auto pb-12;

      & > a {
        @apply links-hover hover-primary-bg min-w-[412px] space-y-8 pb-4 hover:rounded-3xl;
        & > div > img {
          @apply base-transition w-full;
        }
        & > div > p {
          @apply base-description;
        }
      }
    }
  }
}

/* ! featured products */
@layer components {
  .container-featured-products {
    @apply base-container;

    & > div {
      @apply flex items-center gap-4;

      & > a {
        @apply hover-link-primary relative flex h-[525px]  w-full flex-col space-y-4 bg-cover bg-center;

        & > div {
          @apply absolute bottom-12 left-6 space-y-8;
        }
      }
    }
  }
}

/* ! products shop by sport */

/* ! first footer */
@layer components {
  .container-first-footer {
    @apply container flex justify-between py-8;

    & > div {
      @apply space-y-3;

      & > ul {
        @apply space-y-1;

        & > li {
          @apply base-description;
        }
      }
    }
  }
}
/* ! second footer */
@layer components {
  .container-second-footer {
    @apply primary-bg py-8;
    & > div {
      @apply base-container;

      & > div {
        @apply fl-ic justify-between;
      }
    }
  }
  .container-footer-links {
    @apply fl-ic gap-4 font-semibold;

    & > a {
      @apply hover-link-primary;
    }
  }
}

/* ! starting auth */
@layer utilities {
  .container-form-error {
    @apply fl-ic gap-2 rounded-xl bg-destructive/25 p-4 text-sm font-semibold text-destructive;
  }
  .container-form-success {
    @apply fl-ic gap-2 rounded-xl bg-emerald-500/25 p-4 text-sm font-semibold text-emerald-500;
  }
}

/* ! AUTHTHENTICATION */
@layer components {
}
